keyring~=24.3.0
requests
torch
#git+https://github.com/m-bain/whisperx.git
moviepy
pydub
yt-dlp~=2023.11.16
PyQt6~=6.6.1
PyAudio
numpy~=1.26.2
markdown2~=2.4.11
PyQt5~=5.15.10

pipx install insanely-fast-whisper --python python3.11
